<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.iamwee.tamboon">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MainApplication"
            android:usesCleartextTraffic="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/BaseTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning"
            tools:targetApi="n">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.donation.DonationActivity"/>

        <activity
                android:name="co.omise.android.ui.CreditCardActivity"
                android:theme="@style/OmiseSDKTheme"/>
        <activity android:name=".ui.donation.complete.DonationCompleteActivity"/>
    </application>

</manifest>